/*
使用圖層的主要設定排版
*/

html {
	background:#fdf8f8;
	background-attachment: fixed;
	padding:0px;
	margin:0px;
	position:relative;
	width:100%;
	height:100%;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
}


.pos1{
		position:absolute;
	    margin: 7px 0px;
	    background-repeat: no-repeat;
	
		}
.pos2{
		position:fixed;
	    margin: 16px 1320px;

        }
.pos3{
		position:fixed;
	    margin: 19px 1350px;
	    background-repeat: no-repeat;
		font-family: arial;
	    font-size:15px;
        }
