/*
使用圖層的主要設定排版
*/
html {
	background:#FF00FF;
}
.pos1{
		position:fixed;
		width: 1443px;
        height: 35px;
	    margin: 0px 0px;
	    background-color:  #FF00FF;
	    background-repeat: no-repeat;
		font-family:sans-serif;
     	font-style: italic;
		font-weight: 900;
	    font-size:32px;
		}
.pos2{
		position:fixed;
	    margin: 19px 1270px;
	    background-repeat: no-repeat;
		font-family: arial;
	    font-size:15px;
        }
.pos3{
		position:fixed;
	    margin: 19px 1350px;
	    background-repeat: no-repeat;
		font-family: arial;
	    font-size:15px;
        }
